@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "Inter", ui-sans-serif, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-impact: "Bebas Neue", sans-serif;
  
  --color-primary: var(--color-rose-500);
  --color-primary-dark: var(--color-rose-600);
}

/* Custom scrollbars and styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
